$main-color: #DA6A15;
$main-color-light: scale-color($main-color, $lightness: +20%);
$alt-color: complement($main-color, $space: hsl);
$my-blue: $alt-color;
$my-green: #23c142; 
$my-red: #aa0030; 
$math-color: #002244;
$code-color: $my-green;

$headings-color: $main-color;
$link-color: $alt-color;
$link-hover-color: $main-color-light;
